@mixin body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

@mixin h1 {
	font-weight: 400;
	font-size: 32px;
}

@mixin h2 {
	font-weight: 700;
	font-size: 22px;
}

@mixin h3 {
	font-weight: 700;
	font-size: 16px;
}

@mixin h4 {
	font-weight: 400;
	font-size: 16px;
}

/* variaveis basicas de type */

$base-font-size:   16px;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.8 !default;
$base-line-height: 1.5 !default;