$text-color:       #262626 !default;
$background-color: #FFFFFF !default;
$brand-color:      #000099 !default;
$header-footer:    #FFFBEB !default;

$yellow-color: #F5C400;

$grey-color:       #525252 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

/* cenas minhas */

$main-blue: #000099;