/**
 * Site header
 */
.site-header {
	min-height: $spacing-unit * 1.865;
	// Positioning context for the mobile navigation icon
	position: relative;
}

.site-title {
	@include relative-font-size(1.625);
	font-weight: 400;
	line-height: $base-line-height * $base-font-size * 2.25;
	letter-spacing: -1px;
	margin-bottom: 0;
	float: left;

	@include media-query($on-palm) {
		font-size: 22px;
	}

	&,
	&:visited {
		color: $grey-color-dark;
	}
}

.site-nav {
	float: right;
	line-height: $base-line-height * $base-font-size * 2.25;

	.trigger {

		li {
			list-style: none;
			height: 40px;
			margin-right: 20px;
		}

		ul {
			display: flex;
		}
	}

	.nav-trigger {
		display: none;
	}

	.menu-icon {
		display: none;
	}

	.page-link {
		color: $text-color;
		font-weight: 600;
		line-height: $base-line-height;

		// Gaps between nav items, but not on the last one
		&:not(:last-child) {
			margin-right: 90px;
		}

		&:hover {
			color: $yellow-color;
		}
	}

	@include media-query($on-palm) {
		position: absolute;
		top: 9px;
		right: $spacing-unit / 2;
		border-radius: 8px;
		background-color: $background-color;
		text-align: left;
		box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
		z-index: 2;

		label[for="nav-trigger"] {
			display: block;
			float: right;
			width: 36px;
			height: 36px;
			z-index: 2;
			cursor: pointer;
		}

		.trigger {

			ul {
				display: block;
			}
		}

		.menu-icon {
			display: block;
			float: right;
			width: 36px;
			height: 26px;
			line-height: 0;
			padding-top: 10px;
			text-align: center;

			> svg {
				fill: $text-color;
			}
		}

		input ~ .trigger {
			clear: both;
			display: none;
		}

		input:checked ~ .trigger {
			display: block;
			padding-bottom: 0;
		}

		.page-link {
			display: block;
			padding: 10px 10px;
			padding-left: 0;

			&:not(:last-child) {
				margin-right: 0;
			}
		}
	}

}

.grid-container-home {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 1fr 1fr;
	padding-bottom: 100px;

	@include media-query($on-palm) {
		grid-template-columns: 1fr;
	}
}

/*box shadow*/

.box-shadow-animation {
	position: relative;
	display: inline-block;
	width: 200px;
	height: 60px;
	border-radius: 8px;
	background-color: #fff;
	box-shadow: 0 2px 20px rgba(0, 0, 0, 0.15);
	transition: all 0.3s ease-in-out;
	display: flex;
	justify-content: center;
	align-items: center;

	h3 {
		margin: 0;
	}

	@include media-query($on-palm) {
		width: 100%;
	}
}

.box-shadow-animation::after {
	content: '';
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	opacity: 0;
	border-radius: 8px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
	transition: opacity 0.3s ease-in-out;

}

.box-shadow-animation:hover {
	transform: scale(1.2, 1.2);
}

/*titulo na home*/

.main-title-home {
	padding: 80px 0 40px;

	span {
		width: 0px;
		font-weight: 600;
		height: 5px;
		margin: 5px 0 0;
		border-radius: 8px;
		padding: 4px;
		background-color: red;
		animation-name: example;
		animation-duration: 3s;
		animation-iteration-count: infinite;
	}

	@keyframes example {
		0% {
			background-color: #FFFFFF;
		}

		50% {
			background-color: $yellow-color;
		}

		100% {
			background-color: #FFFFFF;
		}
	}
}

/* SOBRE - parte de cima*/


.grid-item1 {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 200px;
	border-radius: 8px;
	background-color: #fff;
	box-shadow: 0 2px 20px rgba(0, 0, 0, 0.15);
	transition: all 0.3s ease-in-out;
	grid-area: imagem;

	@include media-query($on-palm) {
		width: 100%;
		height: 280px;
	}
}

.grid-item1::after {
	content: '';
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	opacity: 0;
	border-radius: 8px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
	transition: opacity 0.3s ease-in-out;
}

.grid-item1:hover {
	transform: scale(1.2, 1.2);
}


.grid-item2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	grid-area: texto;
}

.about-me {
	display: grid;
	grid-gap: 40px;
	grid-template-areas:
		'imagem texto texto';
	margin-bottom: 60px;
	
	@include media-query($on-palm) {
		grid-template-areas:
		'imagem'
		'texto'	;
	}
}

/* sobre - capacidades - METER EM GRID! */

.about-containers {
	display: grid;
	grid-gap: 30px;
	grid-template-columns: 1fr 1fr 1fr;

	@include media-query($on-palm) {
		grid-template-columns: 1fr;
	}

	div {

		@include media-query($on-palm) {
			padding-bottom: 20px;
		}

		img {
			position: relative;
			display: inline-block;
			width: 80px;
			height: 80px;
			margin-left: auto;
			margin-right: auto;
			display: block;
			padding: 15px 0;
		}

		div {
			margin-top: 20px;

			p {
				font-size: $small-font-size;
			}

		}
	}
}


/* portoflio */

.portfolio-containers {
	display: grid;
	grid-gap: 30px;
	grid-template-columns: 1fr 1fr 1fr;
	padding-bottom: 40px;

	@include media-query($on-palm) {
		grid-template-columns: 1fr;
	}

	div {
		figure {

			img {
				position: relative;
				display: inline-block;
				width: 100%;
				height: 140px;
				border-radius: 8px;
				background-color: #fff;
				box-shadow: 0 2px 20px rgba(0, 0, 0, 0.15);
				transition: all 0.3s ease-in-out;

				@include media-query($on-palm) {
					width: 100%;
					height: 100%;
				}
			}

			img::after {
				content: '';
				position: absolute;
				z-index: -1;
				width: 100%;
				height: 100%;
				opacity: 0;
				border-radius: 8px;
				box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
				transition: opacity 0.3s ease-in-out;
			}

			img:hover {
				transform: scale(1.2, 1.2);
			}

			figcaption {
				margin-top: 20px;
			}
		}

	}
}

/* school */

.school-containers {
	display: grid;
	grid-gap: 30px;
	grid-template-columns: 1fr 1fr 1fr;
	padding-bottom: 40px;

	@include media-query($on-palm) {
		grid-template-columns: 1fr;
	}

	div {

		@include media-query($on-palm) {
			padding-bottom: 20px;
		}

		img {
			position: relative;
			display: inline-block;
			width: 80px;
			height: 80px;
			margin-left: auto;
			margin-right: auto;
			display: block;
			padding: 15px 0;
		}

		div {
			margin-top: 20px;

			p {
				margin-top: 20px;
				font-size: $small-font-size;
			}

		}
	}
}


/**
 * Site footer - FEITO
 */
.site-footer {
	padding: $spacing-unit 0;
	bottom: 0;
}

.contacts-footer {

	display: flex;
	font-weight: 600;

	a {
		margin-left: 0;
		margin-right: 20px;
		align-content: center;
	}
}

footer {
	div {
		p {
			font-size: 12px;
			margin-bottom: 0;
			margin-top: 40px;
			text-align: right;
		}
	}
}


/**
 * Page content
 */
.page-content {
	padding: $spacing-unit 0;
	flex: 1;
}

.page-heading {
	@include relative-font-size(2);
}

.post-list-heading {
	@include relative-font-size(1.75);
}

.post-list {
	margin-left: 0;
	list-style: none;

	> li {
		margin-bottom: $spacing-unit;
	}
}

.post-meta {
	font-size: $small-font-size;
	color: $grey-color;
}

.post-link {
	display: block;
	@include relative-font-size(1.5);
}
