---
layout: default
---

<!--
<nav>
	<h1>Projetos em destaque</h1>
	<ul>
		{% for project in site.data.portfolio.docs %}
		<li>
			<a href="{{site.baseurl}}/{{project.slug}}">{{project.title}}</a>
			<p>{{project.category}}</p>
		</li>
		{% endfor %}
	</ul>
</nav>
-->

<div class="main-title-home">
	<h1>Olá, chamo-me <span>maria</span>. Prazer.</h1>
</div>

<h2>Projetos</h2>

<section class="grid-container-home">
	{% for projeto in site.data.portfolio.docs %}
	<div class="box-shadow-animation">
		<a title="{{projeto.linktitle}}" href="{{site.baseurl}}/portfolio.html">
			<h3>{{projeto.title}}</h3>
		</a>
	</div>
	{% endfor %}
</section>
