---
layout: default
---

<!--
<nav>
	<h1>Projetos em destaque</h1>
	<ul>
		{% for project in site.data.portfolio.docs %}
		<li>
			<a href="{{site.baseurl}}/{{project.slug}}">{{project.title}}</a>
			<p>{{project.category}}</p>
		</li>
		{% endfor %}
	</ul>
</nav>
-->

<h1>Olá, chamo-me <strong>maria carvalho barreira</strong>.<br>Prazer.</h1>

<section>
	{% for projeto in site.data.portfolio.docs %}
	<div>
		<a title="{{projeto.linktitle}}" href="{{site.baseurl}}/school.html">
			<h3>{{projeto.title}}</h3>
		</a>
	</div>
	{% endfor %}
</section>